/*
Background Color: #CBEDD5
Highligh Color: #97DECE
Text Color: #439A97
*/


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body{
    font-family: 'Caveat', cursive;
    background-color: #CBEDD5;
    color: #439A97;
    font-size: 62.5%;
}

h1 {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.5rem;
}

.holidaysInfo img {
    height: 240px;
    width: 320px;
}

.Krampus {
    padding-bottom: 0rem;
}

.nightOfTheRadishes {
    padding-bottom: 0rem;
}

.kfcForChristmas {
    padding-bottom: 0rem;
}

.Krampus img {
    float: right;
}

.nightOfTheRadishes img {
    float: left;
}

.kfcForChristmas img {
    float: right;
}

.copyrightForFav {
text-align: center;
color: #439A97;
border-top: 1px solid #97DECE;
}

@keyframes Title {
    from {color: #000;}
    to {color: #439A97;}
}

h1 {
    animation-name: Title;
}
@media (min-width: 768px) {
.holidaysInfo img {
    height: 480px;
    width: 640px;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

.Krampus {
    padding-bottom: 5rem;
}

.nightOfTheRadishes {
    padding-bottom: 7rem;
}

.kfcForChristmas {
    padding-bottom: 6rem;
}
}
